old_figures/
old_logs/
voice_modeling_report/
#traffic_dumps/*
.idea/
.directory

venv

temp_py/
#figures/
__pychache__
.ipynb_checkpoints/
rnn_models/
estimator_libs/
*.prof
*.ipynb
*.docx
*.pkl
*.pyc
*.sh
*.pcap
*.svg
*.pdf
*.model
figures
deviceStat.ipynb
rnn_test.ipynb
#figures/*.svg
test_*
bin/ndpi_deb
bin/ndpi_arch
extractPacketStats.py
compare_pcaps.py

#add a file to each dir for structuring
!obj/skypeLANhome__auto_components.pkl
#!hist_UDP_10_1_3_143_5000_10_1_6_18_2006_.svg
!traffic_dumps/skypeLANhome.pcap
!traffic_dumps/iot_amazon_echo.pcap
!figures/joint2d_skype.pdf
