figures/
log/
jupyter_notebooks/
traffic_dumps/
temp_py/
#stat_figures/
__pychache__
.ipynb_checkpoints/
rnn_models/
estimator_libs/
*.prof
#*.ipynb
*.docx
*.pkl
*.pyc
*.sh
*.pcap
*.svg
deviceStat.ipynb
rnn_test.ipynb
#stat_figures/*.svg
test_*
ndpiReader
ndpi_arch
extractPacketStats.py
compare_pcaps.py

#add a file to each dir for structuring
!skypeLANhome.pcap
!rtp_711_UDP_10_1_3_143_5000_auto_components.pkl
#!hist_UDP_10_1_3_143_5000_10_1_6_18_2006_.svg
